@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
     :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    display: flex;
    height: 100vh;
    font-size: 17px;
    color: #fff;
    box-sizing: border-box;
    background-color: #181818;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* border: 2px solid red; */
}